@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

*{
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #050a0e;
  color: #00ffcc;
}

::-webkit-scrollbar{
  display: none;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 204, 0.2) transparent;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 204, 0.2);
  border-radius: 10px;
}